[Unit]
Description=Set night theme

[Service]
Type=oneshot
ExecStart=/home/andry/.local/bin/set-night-theme
Restart=on-failure

[Install]
WantedBy=graphical.target
