[Unit]
PartOf=graphical-session.target
After=graphical-session.target
Requisite=graphical-session.target

[Service]
ExecStart=/usr/bin/swaybg -m fill -i "%h/Pictures/Wallpapers/ca4937201e3186856086689349d830c4.jpg"
Restart=on-failure

[Install]
WantedBy=niri.service
